<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.dao.AppInfoDao">
   
    <!-- 显示信息 , 模糊查询 -->
    <select id="getAppinfoList" resultType="AppInfo">
            SELECT b.*,dd1.`valueName` AS flatformName,dd2.`valueName` AS statusName,av.`versionNo` AS versionNo,av.versionSize AS versionSize
     FROM (
     SELECT a.*,ac1.`categoryName` AS categoryLevel1Name,ac2.`categoryName` AS categoryLevel2Name,ac3.`categoryName` AS categoryLevel3Name
     FROM app_info AS a
     LEFT JOIN app_category AS ac1 ON a.categoryLevel1=ac1.`id`
     LEFT JOIN app_category AS ac2 ON a.categoryLevel2=ac2.`id`
     LEFT JOIN app_category AS ac3 ON a.categoryLevel3=ac3.`id`
     )AS b
     LEFT JOIN `data_dictionary` AS dd1 ON b.`flatformId`=dd1.`valueId`
     LEFT JOIN `data_dictionary` AS dd2 ON b.`status`=dd2.`valueId`
     LEFT JOIN `app_version` AS av ON b.`versionId`=av.`id`
     WHERE dd1.typeCode='APP_FLATFORM' AND dd2.`typeCode`='APP_STATUS'
     <if test="softwareName != null and softwareName != ''">
     and softwareName like concat('%',#{softwareName},'%')
     </if>
     <if test="status != null">
     and status =#{status}
     </if>
     <if test="flatformId != null">
     and flatformId =#{flatformId}
     </if>
     <if test="categoryLevel1 != null">
     and categoryLevel1 =#{categoryLevel1}
     </if>
     <if test="categoryLevel2 != null">
     and categoryLevel2 =#{categoryLevel2}
     </if>
     <if test="categoryLevel3 != null">
     and categoryLevel3 = #{categoryLevel3}
     </if>
     <if test="devId != null">
     and devId = #{devId}
     </if>
     ORDER BY creationDate DESC limit #{page.getFirst},#{page.pageSize}
    </select>
    
    <!-- 总记录数 -->
    <select id="getappinfocount" resultType="int">
     select count(*) from app_info
    </select>
    
    <!-- 添加  -->
    <insert id="appinfoAdd">
      insert into app_info(softwareName,APKName,supportROM,interfaceLanguage,softwareSize,downloads,flatformId,categoryLevel1,categoryLevel2,categoryLevel3,STATUS,appInfo,logoPicPath,logoLocPath)
      value(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{downloads},#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{status},#{appInfo},#{logoPicPath},#{logoLocPath})
    </insert>
    
    <!-- 判断APKName是否相等 -->
    <select id="getAppInfo" resultType="AppInfo">
      select * from app_info where APKName=#{APKName}
    </select>
    
    <!-- 修改  -->
    <update id="appinfoUpdate">
     update app_info set softwareName=#{softwareName},APKName=#{APKName},supportROM=#{supportROM},interfaceLanguage=#{interfaceLanguage},softwareSize=#{softwareSize},downloads=#{downloads},flatformId=#{flatformId},categoryLevel1=#{categoryLevel1},
     categoryLevel2=#{categoryLevel2},categoryLevel3=#{categoryLevel3},appInfo=#{appInfo},logoLocPath=#{logoLocPath} where id=#{id}
    </update>
    
    <!-- 根据ID查看信息 -->
    <select id="getIdAll" resultType="AppInfo">
       SELECT a.*,
      (SELECT valueName FROM data_dictionary b WHERE typeName='所属平台' AND a.flatformId=b.valueId) AS flatformName ,a.flatformId,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name ,a.categoryLevel1,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name ,a.categoryLevel2,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,a.categoryLevel3,
      (SELECT valueName FROM data_dictionary d  WHERE d.valueId=a.status AND typeName='APP状态') AS statusName,a.downloads,a.status,
      (SELECT versionNo FROM app_version e WHERE  e.id =a.versionId) AS versionNo
      FROM app_info AS a WHERE a.id=#{id} 
    </select>
    
    <!-- 修改ID -->
    <update id="update_id">
    update app_info set versionId=#{id} where id=#{appId}
    </update>
    
    <!-- 删除APP应用信息并删除对应的版本信息 -->
    <delete id="deleteall">
     DELETE `app_info`,`app_version` FROM `app_info` LEFT JOIN `app_version` ON app_info.id=app_version.appid WHERE app_info.id =#{id}
    </delete>
    
    <select id="getall" resultType="AppInfo">
      SELECT a.*,
      (SELECT valueName FROM data_dictionary b WHERE typeName='所属平台' AND a.flatformId=b.valueId) AS flatformName ,a.flatformId,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name ,a.categoryLevel1,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name ,a.categoryLevel2,
      (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,a.categoryLevel3,
      (SELECT valueName FROM data_dictionary d  WHERE d.valueId=a.status AND typeName='APP状态') AS statusName,a.downloads,a.status,
      (SELECT versionNo FROM app_version e WHERE  e.id =a.versionId) AS versionNo
      FROM app_info AS a WHERE a.id=#{id} and status=#{status}
    </select>
    
    <!-- 修改审核通过的状态 -->
    <update id="updatestatuc">
    UPDATE `app_info` SET status=#{status} WHERE id=#{id};
    </update>
  
    
    <!-- 修改status上架下架 -->
    <update id="appsysUpdatestatus">
     update app_info set status=#{status} where id=#{id}
    </update>
    
    <!-- 修改删除图片img -->
    <delete id="delfileimg">
     UPDATE app_info SET logoPicPath=NULL WHERE id=#{id}
    </delete>
   </mapper>